__pycache__
shared/__pycache__
language/__pycache__
mnist/__pycache__
workspace/__pycache__

.vscode/
_checkpoints
wandb
data
cache
workspace/sngrok/test.ipynb

workspace/sngrok/cosets.ipynb

.DS_Store
